@import '_reset.scss';
/* VARIABLES
================================================== */
/* Font imports */
@font-face {
    font-family: "Kobu Text Sans Serif";
    src: url(../fonts/kobutextsansserif.woff2) format('woff2'),
         url(../fonts/kobutextsansserif.woff) format('woff'),
         url(../fonts/kobutextsansserif.ttf) format('truetype');
}

@font-face {
    font-family: "Fontawesome";
    src: url(../fonts/fontawesome-webfont.woff2) format('woff2'),
         url(../fonts/fontawesome-webfont.woff) format('woff'),
         url(../fonts/fontawesome-webfont.ttf) format('truetype');
}
/* Color definitions */
:root {
    --background-color: #DE3A40; /* Chatbox background color */
    --assistant-message-bg: #D8373D; /* Background color for assistant messages */
    // --assistant-message-bg: #f15156; /* Background color for assistant messages */
    --user-message-bg: #AA4850; /* Background color for user messages */
    --suggestion-bg: #b5622f; /* Background color for suggestions */
    --chat-footer-bg: #8f0c0c; /* Background color for footer */
    --suggestion-mandatory-false-bg: #aa4850; /* Background color for non-mandatory suggestions */
    --user-input-bg: #AA4850; /* Background color for user input */
    --scrollbar-track-color: var(--background-color); /* Scrollbar track background color */
    --scrollbar-thumb-color: var(--chat-footer-bg); /* Scrollbar thumb button color */
    --scrollbar-thumb-hover-color: #555; /* Scrollbar thumb button color on hover */
    --spinner-background-color: darkgray;
    --user-input-placeholder-color: color-mix(in srgb, var(--assistant-message-bg) 80%, black 50%); /* Placeholder color 20% darker */

    --text-color:  rgb(235, 235, 235);
}

$chatbox-wrapper: ".chatbox-wrapper";

    $chatbox-open-button: ".chatbox-open-button";
    
    $chatbox-container: ".chatbox-container";

        $messages-container: ".messages-container";
            $message: ".message"; // Shared class
            $user-message: ".user-message";
            $assistant-message: ".assistant-message";
                $conversation-option: ".conversation-option";

        $user-input-form: ".user-input-form";
            $input-suggestions-container: ".input-suggestions-container";
                $input-suggestion: ".input-suggestion";

            $user-input-container: ".user-input-container";
                $user-input: "#user-input";
                $send-button: "[type='submit']";

    $chatbox-close-button: ".chatbox-close-button";

.visually-hidden { display: none };

#{$chatbox-wrapper} {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 5fr 1fr;
    // grid-template-rows: 100vh;
    background-color: var(--background-color);
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
    border: none;
    font-family: "Kobu Text Sans Serif", "Fontawesome", Helvetica;
    font-size: 17px;
    color: white;
    // align-items: end;
    // justify-content: space-between;
    
    // > * {
    //     color: inherit;
    //     border: none;
    // };

    #{$chatbox-close-button}, #{$chatbox-open-button} {
        background-color: var(--background-color);
        position:sticky;
        margin: 30%;        // align-items: baseline;
        // align-content: start;
        justify-self: center;
        // img {
        //     max-width: 100px;
        //     max-height: 100px;
        // }
    
        .x-symbol {
            position: relative;
            
        };
        .x-symbol::before, .x-symbol::after {
            content: '';
            position: absolute;
            // top: 50%;
            // left: 50%;
            width: 20px;
            height: 5px;
            background-color: white;
        };
        .x-symbol::before {
            transform: translate(-50%, -50%) rotate(45deg);
        };
       .x-symbol::after {
            transform: translate(-50%, -50%) rotate(-45deg);
        };
    };

    #{$chatbox-close-button} {
    //     display: none;
        align-self: baseline;
        justify-self: end;
        // position: absolute;
        // top: 0px;
    }

    #{$chatbox-container} {
        position: relative;
        margin: 30px;
        display: grid;
        grid: 1;
        height: 95vh;
        // max-height: 100vh;
        min-height: 80vh;
        overflow: visible;
        align-content: end;
        align-self: center;
        align-items: center;
        // align-content: end;
        // color: inherit;
        // font-family: "Kobu Text Sans Serif", "Fontawesome", Helvetica;
        // font-size: inherit;
        // display: none; // Before opening
        // margin: 30px;
        // height: 100vh; /* Ajusta a altura para ocupar todo o espaço disponível */
        // overflow: hidden;
        // overflow-y: scroll;
    
        #{$messages-container} {
        //     background-color: var(--background-color);
            display: flex;
            flex-direction: column;
            position: relative;
            // top: 0;
            height: 100%;
            // min-height: 100vh;
            // max-width: 80vw;
            // padding: 10px;
            align-content: center;
            // margin: 10px;
            overflow-y: scroll;
            scroll-behavior: smooth;
            box-sizing: border-box;


            @keyframes sk-bouncedelay {
                0%, 80%, 100% {
                    transform: scale(0);
                }
                40% {
                    transform: scale(1);
                }
            }

            a,  strong,  span,  em,  del {
                font-weight: bold; /* Example font weight */
                color: inherit;
                background-color: var(--assistant-message-bg);
                transition: transform 0.2s ease, background-color 0.2s ease;
            }
            a {
                text-decoration: underline;
                display: inline-block; /* Ensure the link is treated as a block for transformation */
            }
        };
        /* Scrollbar */
        .messages-container::-webkit-scrollbar {
            width: 5px;
            height: 5px;
            cursor: pointer;
        }
        /* Track */
        .messages-container::-webkit-scrollbar-track {
            background: var(--scrollbar-track-color);
            cursor: pointer;

        }

        /* Handle */
        .messages-container::-webkit-scrollbar-thumb {
            background: var(--scrollbar-thumb-color);
            cursor: pointer;
        }

        /* Handle on hover */
        .messages-container::-webkit-scrollbar-thumb:hover {
            background: var(--scrollbar-thumb-hover-color);
            cursor: pointer;
        }
        /* Spinner */
        .spinner {
            position: relative;
            opacity: 0;
            justify-self: start;
            // align-self: baseline;
            // align-self: flex-start;
            // align-self: end;
            // align-self: first baseline;
            // justify-content: left;
            // bottom: -20px; /* Adjust as necessary */
            // left: 10px; /* Adjust as necessary */
    
            > div {
                width: 10px;
                height: 10px;
                // background-color: var(--spinner-background-color);
                background-color: var(--chat-footer-bg);
                border-radius: 100%;
                display: inline-block;
                -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
                animation: sk-bouncedelay 1.4s infinite ease-in-out both;
                margin-right: 5px;
                margin-bottom: 7px;
            }
            .bounce1 {
                -webkit-animation-delay: -0.32s;
                animation-delay: -0.32s;
            }
            .bounce2 {
                -webkit-animation-delay: -0.16s;
                animation-delay: -0.16s;
            }
        };    

        #{$assistant-message}, #{$user-message} {
            font-size: inherit;
            // max-width: 800px;
            padding-top: 25px;
            padding-left: 25px;
            padding-right: 25px;
            padding-bottom: 25px;
            align-content: center;
            align-items: center;
            margin: 5px;
            border-radius: 50px;
            border-style: none;
            position: relative;
            // display: flex;
            width: auto;
            // flex-direction: column;
            max-width: 700px;
            
        };
        
        #{$assistant-message}  > p, #{$user-message} > p {
            padding: 0;
            margin: 0;
        }
        
        #{$assistant-message} {
            background-color: var(--assistant-message-bg);
            align-self: start;
        
            video {
                max-width: 300px;
                max-height: 300px;
            }
        
        }
        
        #{$user-message} {
            background-color: var(--user-message-bg);
            // position: relative;
            // justify-self: flex-end;
            align-self: end;

        };
        
        .conversation-option {
            background-color: transparent;
            padding: 15px;
            border-radius: 30px;
            border: 1px solid white !important;
            margin: 3px;
            cursor: pointer;
        };
        
    #{$user-input-form} {
        position: relative;
        bottom: 0;
        height: auto;
        display: flex;
        flex-wrap: wrap;

        .input-suggestions-container{
            display: flex;
            width: 100%;
            flex-flow: row;
            justify-content: center;
            flex: 1;
            max-width: 100%;
            font-size: inherit;
            align-content: start;
            margin-top: 10px;
        };
        .input-suggestion {
            background-color: transparent;
            justify-content: space-between;
            padding: 15px;
            border-radius: 30px;
            border: 1px dashed white;
            margin: 2px;
            color: inherit;
            font-family: inherit;
            font-size: inherit;
        };
        .user-input-container {
            background-color: var(--user-input-bg);
            flex-direction: row;
            display: flex;
            padding: 10px;
            width: 100%;
            border-radius: 50px;
            border-style: none;
            margin: 5px;
            color: inherit;
            font-family: inherit;
            font-size: inherit;
            border: none;
    
            input[type="text"] {
                background: var(--user-input-bg);
                color: inherit;
                font-family: inherit;
                font-size: inherit;
            };
            input::placeholder {
                color: inherit;
                font-style: italic;
                font-size: inherit;

            };
            .user-input, #{$user-input} {
                background-color: inherit;
                flex: 1;
                border-radius: 50px;
                border-style: none;
                padding: 10px;
                font-size: inherit;
                height: 50px;
            };
            #{$send-button} {
                background-color: inherit;
                justify-self: flex-end;
                fill: white;
                padding: 5px;
                margin: 5px;
                border: none;
            };
            // Animations
            #{$send-button}:hover {
                animation: bounce 0.5s infinite;
                fill: var(--user-input-bg);
            };
            @keyframes bounce {
                0%, 100% {
                    transform: translateY(0) rotate(-90deg);
                    fill: transparent;
                }
                50% {
                    transform: translateY(-5px) rotate(-90deg);
                    fill: white;
                }
            }
            
        }
    }   
    // Animations
    #{$input-suggestion}, #{$conversation-option}, #{$user-message}, #{$assistant-message} {
        transition: transform 0.2s ease, background-color 0.2s ease; /* Smooth transition */
    };
    #{$input-suggestion}:hover, #{$conversation-option}:hover  {
        transform: translateY(-3px); /* Small jump up */
        background-color: var(--user-input-bg); /* New color on hover */
    };
}
}

@media (max-width: 768px) {
    #{$chatbox-wrapper} {
        // display: flex;
        // flex-direction: row;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }

    #{$chatbox-container} {
        // flex: 1;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        // display: flex;
        // flex-direction: column;
        // overflow-y: auto;
    }

    #{$chatbox-open-button} {
        // display: none;
        position: absolute;

    }

    #{$chatbox-close-button} {
        position: absolute;
        display: block;
        // opacity: 1;
        // top: 10px;
        right: 10px;
        margin: 10px;
    }

    #{$messages-container} {
        // max-width: 100%;
        width: 100vw;
        padding: 10px;
    }

    #{$user-input-form} {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 10px;
        background-color: var(--user-input-bg);
    }
}
